.retheme {
	--theme-color-brand: #007bff;
	--theme-color-brand-secondary: #3395ff;
	--theme-color-light: #f8f9fa;
	--theme-font-color-primary: #212529;
	--theme-font-color-secondary: #495057;
	--theme-font-color-thirdty: #7c7e83;
	--theme-color-link: #4a90e2;
	--theme-color-link-hover: #6aafff;
	--theme-border-color: #ced4da;
	--theme-border-radius: 7px;
	--theme-font-family-primary: "Roboto";
	--theme-font-family-secondary: "Roboto";
}

/*=================================================
*  GRID
=================================================== */

/*=================================================
*  BREAKPOINTS
=================================================== */

/*=================================================
*  CONTAINERS
=================================================== */

/*=================================================
*  FONT
=================================================== */

/* Font Weight */

/* Font Color*/

/* Font Size */

/*=================================================
*  SOCIAL MEDIA
=================================================== */

/*=================================================
*  SHAWDOW
=================================================== */

/*=================================================
*  NAVBAR
=================================================== */

/*=================================================
*  SUBMENU LG
=================================================== */

/*=================================================
*  NAVBAR SMALL
=================================================== */

/*=================================================
*  NAVBAR FULL
=================================================== */

/*=================================================
*  NAVBAR SEARCH
=================================================== */

/*=======================================
* MEDIA MAX
*=======================================*/

/*=======================================
* MEDIA MIN
*=======================================*/

/*=======================================
* MEDIA ONLY
*=======================================*/

/*=======================================
* MEDIA RANGE
*=======================================*/

/*=======================================
* MANUAL BREAKPOINT
*=======================================*/

/*=================================================
*  GRID MIXIN
=================================================== */

/*=================================================
*  LINK MIXIN
=================================================== */

/*=================================================;
/* USER PRICE PRODUCT
/*================================================= */

.wpu-user-prices {
	border-color: var(--theme-border-color);
}

.wpu-user-prices .wpu-user-price {
	border-color: var(--theme-border-color);
}

/*=================================================;
/* USER PRICE SINGLE SUMMARY
/*================================================= */

.single-product-summary .wup-user-prices {
	font-size: 14px;
	line-height: 1.5;
	border: 1px solid var(--theme-border-color);
	border-radius: var(--theme-border-radius);
	margin-bottom: 30px;
}

.single-product-summary .wup-user-price {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--theme-border-color);
	padding: 7px 15px;
}

.single-product-summary .wup-user-price .woocommerce-Price-amount {
	font-weight: 500;
}

.single-product-summary .wup-user-price:last-child {
	border: none;
}

.product-type-variable .wup-user-prices {
	display: none;
}

.woocommerce-variation-price .wup-user-prices {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*=================================================;
/* HIDDEN ON LOOP
/*================================================= */

.wup-user-price-loop-hidden .rt-product .wup-user-prices,
.wup-user-price-loop-hidden .product_list_widget .wup-user-prices {
	display: none;
}

.wsb-sticky-product .wup-user-prices {
	display: none;
}

/*=================================================;
/* PRICE ON LOOP
/*================================================= */

.rt-product .wup-user-price {
	display: block;
	line-height: 1.5;
}

.product_list_widget .wup-user-price {
	display: block;
	line-height: 1.5;
}

