@import "../../../../../themes/saudagar/assets/source/scss/settings/_root.scss";
@import "../../../../../themes/saudagar/assets/source/scss/settings/_variable.scss";
@import "../../../../../themes/saudagar/assets/source/scss/mixin/**/*scss";


/*=================================================;
/* USER PRICE PRODUCT
/*================================================= */
.wpu-user-prices {
    border-color: $border-color;
    .wpu-user-price{
        border-color: $border-color;
    }
}

/*=================================================;
/* USER PRICE SINGLE SUMMARY
/*================================================= */
.single-product-summary {
  .wup-user-prices {
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-bottom: 30px;
  }
  .wup-user-price {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding: 7px 15px;
    .woocommerce-Price-amount {
      font-weight: $font-weight;
    }
    &:last-child{
      border: none;
    }
  }
}
.product-type-variable {
  .wup-user-prices {
    display: none;
  }
}
.woocommerce-variation-price {
  .wup-user-prices {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/*=================================================;
/* HIDDEN ON LOOP
/*================================================= */
.wup-user-price-loop-hidden {
  .rt-product .wup-user-prices,
  .product_list_widget .wup-user-prices {
    display: none;
  }
}
.wsb-sticky-product .wup-user-prices {
  display: none;
}

/*=================================================;
/* PRICE ON LOOP
/*================================================= */
.rt-product {
  .wup-user-price {
    display: block;
    line-height: 1.5;
  }
}
.product_list_widget{
  .wup-user-price {
    display: block;
    line-height: 1.5;
  }
}
